# Don't support newer SQLAlchemy until GeoAlchemy2 fixes this:

SQLAlchemy>=0.8
GeoAlchemy2>=0.2.2
requests>=2.0
psycopg2>=2.5

# This install is recommended for performance, but not required.
# For pip 1.5+ you need to install with `pip install --allow-external cdecimal`
# as external urls are no longer allowed by default.
# cdecimal>=2.3
